@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Lily+Script+One);

@import
	url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);




/*magazine전체*/
section{
    
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif,"Nanum Barun Gothic", "Nanum Gothic";
    margin: 0;
}

.magazine-container h2 {
    font-weight: bold;
}

.magazine-container table {
	width: 100%;
	border-collapse: collapse;
	font-size: 15px; /* 글꼴 크기 */
	line-height: 24px; /* 줄 간격 */
	
	border-top: 2px solid gray;
	border-bottom: 2px solid gray;
	
	border-left: 1px solid white!important;
	border-right: 1px solid white;
}
.magazine-container tr:hover {
	background: #f0f0f0; 
}
.magazine-container a {
	text-decoration: none; /* 링크 밑줄 없애기 */
	color: black; /* 글 색상 */
}

.magazine-container a:HOVER {
	text-decoration: underline; /* 밑줄 */
	color: rgb(73, 155, 250); /* 글 색상 */
}
/*
* 테이블 안 리스트
*/
#tbl-magazine {
	background-color: rgb(236, 236, 236);
}
/*
* btn
*/
#btn {
	width:10%;
	padding : 5ps;
}
/*************
* 페이징
*************/
#pagebar{
    margin-top: 20px;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    width: 300px;
    
    display: flex;
	justify-content: space-evenly;
}
.magazine-container div#pageBar a:hover {
	color: black;
	
}

.magazine-container div#pageBar a{
	text-decoration: none;
	color : gray;
}


/*상단*/
/* 검색 컨테이너 */
.search-container {
	margin: 10px auto;
	padding: 8px; 
}

/* 검색 select 태그 */
#searchType {
	text-align: center;
	cursor: pointer;
	
}
#searchType select{
	display: inline-block;
}
/* 검색 input 태그 */
.search-type input {
	padding-left: 13px;
	display: inline-block;
}

/* 검색 버튼 */
.search-btn {
	background-color: #939393;
	font-weight: bold;
	color: #fff;
	position: relative;
	top: 3px;
	font-size: 13px;
}

form { 
 font-family: 'Noto Sans KR', sans-serif;
}

body {
	margin: 0;
	font-family: arial, tahoma, sans-serif;
	font-size: 12px;
	font-weight: normal;
	direction: ltr;
	background: white;
}

form {
	margin: 10% auto 0 auto;
	padding: 30px;
	width: 800px;
	height: auto;
	overflow: hidden;
	background: white;
	border-radius: 10px;
}

form label {
	font-size: 17px;
	color: darkgray;
	cursor: pointer;
}

form label, form input {
	float: left;
	clear: both;

}

form input {
	margin: 19px 0;
	padding: 15px 10px;
	width: 100%;
	outline: none;
	border: 1px solid #bbb;
	border-radius: 20px;
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-ms-transition: 0.2s ease all;
	-o-transition: 0.2s ease all;
	transition: 0.2s ease all;
}

form input[type="text"]:focus, form input[type="password"], form textarea :focus
	{
	border-color: cornflowerblue;
}

form input[type="submit"] {
	vertical-align: middle;
	font-size: 15px;
	padding: 15px 50px;
	width: auto;
	background: rgb(128, 151, 194) ;
	border: none;
	color: rgb(54, 54, 54);
	cursor: pointer;
	display: inline-block;
	float : right;
	clear: right;
	-webkit-transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-ms-transition: 0.2s ease all;
	-o-transition: 0.2s ease all;
	transition: 0.2s ease all;
	font-weight: bold;
}

form input[type="submit"] :hover {
	opacity: 0.8;
}

form input[type="submit"] :active {
	opacity: 0.4;
}

form input[type="button"] {
	vertical-align: middle;
	font-size: 15px;
	padding: 15px 50px;
	width: auto;
	background: rgb(128, 151, 194) ;
	border: none;
	color: rgb(54, 54, 54);
	cursor: pointer;
	position: relative;
	display: inline-block;
	float :left;
	clear: left;
	-webkit-transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-ms-transition: 0.2s ease all;
	-o-transition: 0.2s ease all;
	transition: 0.2s ease all;
	font-weight: bold;
	

}

form textarea {
	margin: 15px 0;
	padding: 15px 10px;
	width: 800px;
	outline: none;
	border: 1px solid #bbb;
	border-radius: 20px;
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-ms-transition: 0.2s ease all;
	-o-transition: 0.2s ease all;
	transition: 0.2s ease all;
	resize: vertical;
}

form select {
	margin: 15px 0;
	padding: 15px 10px;
	width: 100%;
	outline: none;
	border: 1px solid #bbb;
	border-radius: 20px;
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-ms-transition: 0.2s ease all;
	-o-transition: 0.2s ease all;
	transition: 0.2s ease all;
}

.forgot, .register {
	margin: 10px;
	float: left;
	clear: left;
	display: inline-block;
	color: cornflowerblue;
	text-decoration: none;
}

.forgot:hover, .register:hover {
	color: darkgray;
}

#logo {
	margin: 100;
	/* width: 200px;// */
	font-family: 'Hammersmith One', sans-serif;
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	color: rgb(128, 151, 194) ;
	-webkit-transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-ms-transition: 0.2s ease all;
	-o-transition: 0.2s ease all;
	transition: 0.2s ease all;
}

#logo:hover {
	color: rgb(143, 146, 148);
}
